/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #131212;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
    
}
header > .interface h2{
    color:#03d8b5;
    font-size: 42px;
    line-height: 0px;
    
}

/* estilizando o botão de contato */
.btn-contato button{
    padding : 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #02c0b6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;

}
/* fim do estilo geral */

/* estilo do cabecalho (espacamento e cores dos botoes)*/
header{
    padding: 20px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a{
    color: #a19c9c;
    text-decoration: none;
    display : inline-block;
    transition: 0.2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 40px;

}



.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ffffffa8;
    transform: scale(1.05);
}

/* fim do estilo do cabecalho */


/* estilo do topo do site */

section.topo-do-site{
    padding: 40px 4%;
    background-color: #1A1A1A;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;



}
.topo-do-site  h1{
    color: #02c0b6;
    font-size: 60px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color:#ffffff;
    font-size: 84px;

}
.topo-do-site .txt-topo-site h3{
    color: #ffffff;
    font-size: 30px;

}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    font-size: 30px;
    text-align: justify;
    line-height: 50px;

}
/*estilizando a imagem da a pessoa*/

.topo-do-site .img-topo-site img{
    position: relative;
   
    size: 100px;
    width: 400px;
    height: 400px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}
:root{
    --color-neutral-0: #000000;
    --color-neutral-10: #000000;
    --color-neutral-30: #a19c9c;
    --color-neutral-40: #ffffff;

}

/*estilizando o footer*/

footer {
    width: 100%;
    color: var(--color-neutral-40)

}
.footer-link{
    text-decoration: none;
}
#footer_content{
    background-color: var(--color-neutral-10);
    display:flex;
    justify-content: center;
    align-items: center;
    
}


#footer_social_media{
    display: flex;
    gap: 10rem;
    margin-top: 1.05rem;

    align-items: center;
    text-align: center;
    justify-content: center;
    
}
  

#footer_social_media .footer-link {
    font-size: 1.25rem; 
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}
